input[type=text] {
    border: none;
    border-bottom: 2px solid blue;
}
input[type=password] {
    border: none;
    border-bottom: 2px solid blue;
}
input[type=email] {
    border: none;
    border-bottom: 2px solid blue;
}
input[type=file]::file-selector-button {
    border: 2px solid cornflowerblue;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: lightblue;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #61dafb;
}